/* rebot */
* {
	box-sizing: border-box;
}

html {
	font-family: 'Work Sans', sans-serif;
	font-size: 62.5%;
}

body {
	font-size: 1rem;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* container and wrapper */
.container {
	max-width: 1100px;
	margin: 0 auto;
}

/* header */
.header {
	position: relative;
	width: 100%;
	padding: 35px 0px;
	box-shadow: 0px 0px 8px hsla(0, 0%, 0%, 0.1);
}
.header__container {
	max-width: 1350px;
	margin: 0 auto;
	padding: 0 15px;
}
.navbar {
	display: flex;
	align-items: center;
}
.navbar-logo {
	width: 95px;
	height: auto;
}
.navbar-logo__img {
	display: block;
	width: 100%;
}
.menu {
	flex: 1 1 100%;
	display: flex;
	justify-content: space-between;
	padding-left: 35px;
}
.nav-menu {
	display: flex;
	align-items: center;
}
.nav-menu__item {
	margin-right: 22px;
}
.nav-menu__link {
	position: relative;
	font-size: 1.6rem;
	font-weight: 400;
	text-decoration: none;
	color: hsl(225, 35%, 17%);
	transition: 0.4s color;
}
.nav-menu__link:hover {
	color: hsl(190, 100%, 27%);
}
.nav-menu__link::after {
	content: "";
	position: absolute;
	bottom: -2.5px;
	left: 0;
	width: 100%;
	height: 1px;
	transition: 0.4s background-color;
}
.nav-menu__link:hover::after {
	background-color: hsl(190, 100%, 27%);
}
.action-menu {
	display: flex;
	align-items: center;
}
.action-menu__item {
	margin-left: 39px;
}
.action-menu__login {
	position: relative;
	font-size: 1.6rem;
	font-weight: 400;
	text-decoration: none;
	color: hsl(225, 35%, 17%);
	transition: 0.4s color;
}
.action-menu__login:hover {
	color: hsl(190, 100%, 27%);
}
.action-menu__login::after {
	content: "";
	position: absolute;
	bottom: -2.5px;
	left: 0;
	width: 100%;
	height: 1px;
	transition: 0.4s background-color;
}
.action-menu__login:hover::after {
	background-color: hsl(190, 100%, 27%);
}
.action-menu__button {
	padding: 13.5px 31px;
	border: 1px solid hsla(225, 35%, 17%, 0.2);
	border-radius: 4px;
	font-size: 1.4rem;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	color: hsl(225, 35%, 17%);
	transition: 0.4s all;
}
.action-menu__button:hover {
	border: 1px solid hsl(225, 35%, 17%);
	color: hsl(190, 100%, 27%);
}
.burger-button {
	display: none;
}

/* hero */
.hero {
	position: relative;
}
.hero__container {
	display: flex;
	align-items: center;
	max-width: 1260px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 30px 15px;
}
.hero__decript {
	max-width: 465px;
}
.hero__overline {
	margin: 0;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: calc(27 / 18 * 100%);
	text-transform: uppercase;
	color: hsl(8, 88%, 64%);
}
.hero__heading {
	margin: 0 0 26px;
	font-size: 6.4rem;
	font-weight: 600;
	line-height: 106%;
	text-transform: capitalize;
	color: hsl(225, 35%, 17%);
}
.hero__paragraph {
	margin: 0 0 40px;
	font-size: 22px;
	font-weight: 500;
	line-height: 150%;
	color: hsl(225, 18%, 43%);
}
.hero-button {
	display: inline-flex;
	border: 1px solid hsla(225, 35%, 17%, 0.2);
	padding: 20.5px 29px;
	border-radius: 4px;
	background-color: hsl(8, 88%, 64%);
	font-size: 1.6rem;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	color: hsl(0, 0%, 100%);
	transition: 0.4s all;
}
.hero-button:hover {
	background-color: hsl(8, 70%, 49%);
}
.hero-button__text {
	margin-right: 8px;
}
.hero__arrow {
	font: 0 0 30px;
}
.hero-background {
	position: absolute;
	top: 17px;
	right: 0;
	z-index: -1;
	width: 86%;
	height: 96vh;
	background-image: url("../img/hero-picture.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 100% 0;
}

/* secure */
.secure {
	padding: 85px 0;
	background-color: hsl(26, 37%, 96%);
}
.secure__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.secure__promo {
	max-width: 500px;	
}
.secure__picture {
	width: 100%;
	padding: 31.5px 42px;
	background-color: hsl(0, 0%, 100%);
}
.secure__img {
	display: block;
	width: 100%;
	height: auto;
}
.secure__text {
	margin-top: 20px;
	font-size: 1.6rem;
	font-weight: 400;
	color: hsl(225, 18%, 43%);
}
.secure__span {
	color: hsl(8, 88%, 64%);
}
.secure__descript {
	max-width: 456px;
}
.secure__overline {
	margin: 0 0 26px;
	font-size: 1.4rem;
	font-weight: 600;
	text-transform: uppercase;
	color: hsl(8, 88%, 64%);
}
.secure__heading {
	margin: 0 0 19px;
	font-size: 4.4rem;
	font-weight: 600;
	line-height: 118%;
	color: hsl(225, 35%, 17%);
}
.secure__paragraph {
	margin: 0 0 32px;
	font-size: 1.9rem;
	font-weight: 400;
	line-height: 158%;
	color: hsl(225, 18%, 43%);
}
.secure-button {
	position: relative;
	display: inline-flex;
	align-items: center;
	font-size: 1.8rem;
	font-weight: 500;
	text-decoration: none;
	color: hsl(192, 76%, 30%);
	transition: 0.4s all;
}
.secure-button:hover {
	transform: translateX(5px);
}
.secure-button::after {
	content: "";
	position: absolute;
	bottom: -2.5px;
	width: 100%;
	height: 1px;
	transition: 0.4s background-color;
}
.secure-button:hover::after {
	background-color: hsl(192, 76%, 30%);
}

.secure-button__text {
	margin-right: 6px;
}
.secure-button__arrow {
	flex: 0 0 30px;
}
.secure-button__img {
	display: block;
}

/* service */
.service {
	padding: 148px 0 164px;
}
.service__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 45px
}
.service__descript {
	max-width: 483px;
}
.service__overline {
	margin: 0 0 26px;
	font-size: 1.4rem;
	font-weight: 600;
	text-transform: uppercase;
	color: hsl(8, 88%, 64%);
}
.service__heading {
	margin: 0 0 35px;
	font-size: 4.5rem;
	font-weight: 500;
	line-height: 116%;
	color: hsl(225, 35%, 17%);
}
.service__paragraph {
	margin: 0 0 30px;
	font-size: 1.9rem;
	font-weight: 400;
	line-height: 158%;
	color: hsl(225, 18%, 43%);
}
.service-button {
	position: relative;
	display: inline-flex;
	align-items: center;
	font-size: 1.8rem;
	font-weight: 500;
	text-decoration: none;
	color: hsl(192, 76%, 30%);
	transition: 0.4s all;
}
.service-button:hover {
	transform: translateX(5px);
}
.service-button::after {
	content: "";
	position: absolute;
	bottom: -2.5px;
	width: 100%;
	height: 1px;
	transition: 0.4s background-color;
}
.service-button:hover::after {
	background-color: hsl(192, 76%, 30%);
}

.service-button__text {
	margin-right: 6px;
}
.service-button__arrow {
	flex: 0 0 30px;
}
.service-button__img {
	display: block;
}
.service-prev {
	position: relative;
	z-index: 2;
	max-width: 542px;
	max-height: 510px;
}
.service-prev__decor {
	position: absolute;
	top: -35px;
	left: -45px;
	z-index: -1;
	width: 195px;
	height: 124px;
}
.service-prev__collage {
	width: 100%;
	height: 100%;
	display: block;
}
.service-prev__picture {
	width: 100%;
	height: 100%;
}
.service-prev__img {
	display: block;
	width: 100%;
	height: 100%;
}
.service-prev__paragrpaph {
	position: absolute;
	bottom: -25px;
	left: -60px;
	padding: 20.5px 25px;
	box-shadow: 3px 4px 34px hsla(213, 8%, 28%, 0.11);
	border-radius: 5px;	
	background-color: hsl(0, 0%, 100%);
	font-size: 2.2rem;
	font-weight: 300;
	color: hsl(225, 35%, 17%);
}

/* insurance */
.insurance {
	position: relative;
	padding: 0 0 85px;
	background-color: hsl(0, 0%, 97%);
}
.insurance__descript {
	padding: 90px 0 40px;
	text-align: center;
}
.insurance__decor {
	position: absolute;
	top: -133px;
	left: 50%;
	transform: translateX(-50%);
	width: 454px;
	height: auto;
}
.insurance__umbrela {
	width: 100%;
	height: 100%;
	display: block;
}
.insurance__overline {
	margin: 0 0 30px;
	font-size: 1.4rem;
	font-weight: 600;
	text-transform: uppercase;
	color: hsl(8, 88%, 64%);
}
.insurance__heading {
	margin: 0 0 36px;
	font-size: 4.3rem;
	font-weight: 500;
	line-height: 121%;
	color: hsl(225, 35%, 17%);
}
.insurance__paragraph {
	margin: 0 0 40px;
	font-size: 1.9rem;
	font-weight: 400;
	line-height: 158%;
	color: hsl(225, 18%, 43%);
}
.insurance-menu {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}
.insurance-card {
	flex: 0 1 320px;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	align-items: center;
	min-height: 310px;
	padding: 44px 31px;
	background-color: #ffffff;
	text-align: center;
}
.insurance-card__picture--first {
	margin-bottom: 30px;
}
.insurance-card__heading {
	margin: 0 0 5px;
	font-size: 2.4rem;
	font-weight: 400;
	color: hsl(225, 35%, 17%);
}
.insurance-card__paragraph {
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 160%;
	color: hsl(225, 18%, 43%);
}
.insurance-card__link {
	color: hsl(225, 35%, 17%);
}
.insurance-card__link:hover {
	color: hsl(225, 54%, 31%);
}
.insurance-dog {
	position: absolute;
	bottom: -30px;
	right: 0;
	width: 181px;
	height: auto;
}
.insurance-dog__img {
	width: 100%;
	height: 100%;
	display: block;
}

/* how-it-works */
.how-it-works {
	padding: 120px 0 105px;
	background-color: hsl(200, 3%, 22%);
}
.how-it-works__descript {
	max-width: 805px;
	margin: 0 auto;
	margin-bottom: 63px;
	text-align: center;
}
.how-it-works__overline {
	margin: 0 0 26px;
	font-size: 1.4rem;
	font-weight: 500;
	text-transform: uppercase;
	color: hsl(8, 88%, 64%);
}
.how-it-works__heading {
	margin: 0 0 15px;
	font-size: 4.4rem;
	font-weight: 500;
	line-height: 118%;
	color: hsl(0, 0%, 100%);
}
.how-it-works__paragraph {
	max-width: 713px;
	margin: 0 auto;
	font-size: 1.9rem;
	font-weight: 400;
	line-height: 158%;
	color: hsl(215, 13%, 71%);
}
.how-it-works__menu {
	position: relative;
}
.work-line {
	position: absolute;
	top: 10px;
	left: 50%;
	max-width: 740px;
	transform: translateX(-50%);
}
.work-steps {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	max-width: 985px;
	margin: 0 auto;
}
.work-card {
	flex: 0 1 240px;
	display: flex;
	flex-flow: column;
	align-items: center;
}
.work-card__marker {
	position: relative;
	z-index: 5;
}
.work-card__marker::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: -1;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: hsl(225, 18%, 43%);
	transform: translate(-50%, -50%);
}
.work-card__img {
	display: block;
	width: 100%;
	height: auto;
}
.work-card__heading {
	margin: 15px 0 8px;
	font-size: 22px;
	font-weight: 600;
	color: hsl(0, 0%, 100%);
}
.work-card__paragraph {
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 162%;
	text-align: center;
	color: hsl(215, 13%, 71%);
}
.work-steps__action {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 36px;
}
.work-button {
	display: inline-flex;
	justify-content: center;
	border: 1px solid hsla(225, 35%, 17%, 0.2);
	padding: 20.5px 29px;
	background-color: hsl(8, 88%, 64%);
	border-radius: 4px;
	font-size: 1.6rem;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	color: hsl(0, 0%, 100%);
	transition: 0.4s all;
}
.work-button:hover {
	background-color: hsl(8, 83%, 44%);
}
.work-button__text {
	margin-right: 8px;
}

/* learning */
.learning {
	padding: 148px 0 164px;
	background-color: hsl(26, 37%, 96%);
}
.learning__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
}
.learning-prev {
	position: relative;
	z-index: 5;
	max-width: 542px;
}
.learning-prev__background {
	position: absolute;
	top: -35px;
	left: -45px;
	z-index: -1;
	width: 195px;
	height: 124px;
}
.learning-prev__picture {
	width: 100%;
	height: auto;
}
.learning-prev__img {
	display: block;
	width: 100%;
	height: auto;
}
.learning-prev__paragraph {
	position: absolute;
	bottom: -24px;
	right: 44px;
	z-index: 5;
	padding: 11px 19px;
	background-color: hsl(0, 0%, 100%);
	box-shadow: 3px 4px 34px hsla(213, 8%, 28%, 0.11);
	border-radius: 5px;
	font-size: 1.7rem;
	font-weight: 400;
	color: hsl(225, 35%, 17%);
}
.learning__descript {
	max-width: 456px;
}
.learning__overline {
	margin: 0 0 30px;
	font-size: 1.4rem;
	font-weight: 600;
	text-transform: uppercase;
	color: hsl(8, 88%, 64%);
}
.learning__heading {
	margin: 0 0 30px;
	font-size: 4.4rem;
	font-weight: 500;
	line-height: 118%;
	color: hsl(225, 35%, 17%);
}
.learning__paragraph {
	margin: 0 0 18px;
	font-size: 1.9rem;
	font-weight: 400;
	line-height: 158%;
	color: hsl(225, 18%, 43%);
}
.learning-button {
	position: relative;
	display: inline-flex;
	align-items: center;
	font-size: 1.8rem;
	font-weight: 500;
	text-decoration: none;
	color: hsl(192, 76%, 30%);
	transition: 0.4s all;
}
.learning-button:hover {
	transform: translateX(5px);
}
.learning-button::after {
	content: "";
	position: absolute;
	bottom: -2.5px;
	width: 100%;
	height: 1px;
	transition: 0.4s background-color;
}
.learning-button:hover::after {
	background-color: hsl(192, 76%, 30%);
}

.learning-button__text {
	margin-right: 6px;
}
.learning-button__arrow {
	flex: 0 0 30px;
}
.learning-button__img {
	display: block;
}

/* features */
.features {
	padding: 160px 0 132px;
}
.features-menu {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.feature-card {
	flex: 0 1 260px;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	min-height: 323px;
	padding: 40px 10px 33px 22px;
	cursor: pointer;
	transition: 0.4s all;
}
.feature-card:hover {
	transform: translateY(-10px);
}

.feature-card--calculator {
	background-color: hsla(207, 100%, 83%, 0.3);
}
.feature-card--term {
	background-color: hsla(28, 100%, 70%, 0.3);
}
.feature-card--pricing {
	background-color: hsla(6, 95%, 62%, 0.3);
}
.feature-card--insurance {
	background-color: hsla(191, 76%, 30%, 0.3);
}
.feature-card__heading {
	margin: 0;
	min-height: 85px;
	font-size: 3.4rem;
	font-weight: 600;
	vertical-align: text-top;
}
.feature-card__heading--calculator {
	color: hsl(208, 59%, 68%);
}
.feature-card__heading--term {
	color: hsl(28, 76%, 61%);
}
.feature-card__heading--pricing {
	color: hsl(6, 95%, 62%);
}
.feature-card__heading--insurance {
	color: hsl(191, 76%, 30%);
}
.feature-card__paragraph {
	margin: 0;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 128%;
	color: hsl(225, 18%, 43%);
}
.feature-button {
	position: relative;
	display: inline-flex;
	gap: 6px;
	font-size: 1.6rem;
	font-weight: 600;
	text-decoration: none;
	transition: 0.4s all;
}
.feature-button:hover {
	transform: translateX(5px);
}
.feature-button--calculator {
	color: hsl(208, 59%, 68%);
}
.feature-button--term {
	color: hsl(28, 76%, 61%);
}
.feature-button--pricing {
	color: hsl(6, 95%, 62%);
}
.feature-button--insurance {
	color: hsl(191, 76%, 30%);
}
.feature-button::after {
	content: "";
	position: absolute;
	bottom: -2.5px;
	left: 0;
	width: 100%;
	height: 1px;
	transition: 0.4s all;
}
.feature-button--calculator:hover::after {
	background-color: hsl(208, 59%, 68%);
}
.feature-button--term:hover::after {
	background-color: hsl(28, 76%, 61%);
}
.feature-button--pricing:hover::after {
	background-color: hsl(6, 95%, 62%);
}
.feature-button--insurance:hover::after {
	background-color: hsl(191, 76%, 30%);
}

/* get-started */
.get-started {
	background-color: hsl(206, 93%, 95%);
}
.get-started__content {
	position: relative;
}
.get-started__left-img {
	position: absolute;
	left: -105px;
	bottom: 0;
	width: auto;
	height: 445px;
}
.get-started__right-img {
	position: absolute;
	right: 80px;
	bottom: 1px;
	width: 76px;
	height: auto;
}
.get-started__descript {
	position: relative;
	z-index: 5;
	max-width: 715px;
	margin: 0 auto;
	padding: 107px 0 85px;
	text-align: center;
}
.get-started__heading {
	margin: 0;
	margin-bottom: 8px;
	font-size: 4.4rem;
	font-weight: 600;
	color: hsl(225, 35%, 17%);
}
.get-started__paragraph {
	margin: 0;
	margin-bottom: 40px;
	font-size: 1.9rem;
	font-weight: 400;
	line-height: 158%;
	color: hsl(36, 2%, 39%);
}
.get-button {
	display: inline-flex;
	padding: 20.4px 35px;
	background-color: hsl(8, 88%, 64%);
	border: 1px solid hsla(225, 35%, 17%, 0.2);
	border-radius: 4px;
	font-size: 1.6rem;
	text-transform: uppercase;
	text-decoration: none;
	color: hsl(0, 0%, 100%);
	transition: 0.4s all;
}
.get-button:hover {
	background-color: hsl(8, 85%, 54%);
}
.get-button__text {
	margin-right: 8px;
}
